<div class="dropdown-menu" id="ajax-search-result-list">
    {% if not_found %}
        <ul class="search-not-found">
            <li><h5>نتیجه ای یافت نشد!</h5></li>
        </ul>
    {% else %}
        {% if products %}
            <ul id="ajax-search-products-list">
                <li class="ajax-search-list-heading"><h5>محصولات</h5></li>
            {% for product in products  %}
                <li class="ajax-search-list-item"><a href="{{ product.href }}">{{ product.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if categories %}
            <ul id="ajax-search-categories-list">
                <li class="ajax-search-list-heading"><h5>دسته بندی ها</h5></li>
            {% for category in categories %}
                <li class="ajax-search-list-item"><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if manufacturers %}
            <ul id="ajax-search-manufacturers-list">
                <li class="ajax-search-list-heading"><h5>سازنده ها</h5></li>
            {% for manufacturer in manufacturers %}
                <li class="ajax-search-list-item"><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>